@font-face {
  font-family: "Circular Light";
  src: url("/src/assets/fonts/circular/CircularStd-Light.otf");
}

@font-face {
  font-family: "Circular Medium";
  src: url("/src/assets/fonts/circular/CircularStd-Medium.otf");
}

@font-face {
  font-family: "Circular Book";
  src: url("/src/assets/fonts/circular/CircularStd-Book.otf");
}

@font-face {
  font-family: "Circular Bold";
  src: url("/src/assets/fonts/circular/CircularStd-Bold.otf");
}

@font-face {
  font-family: "Circular Black";
  src: url("/src/assets/fonts/circular/CircularStd-Black.otf");
}
