// Colors
$primary-color: #1ed760;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$info-color: #17a2b8;
$warning-color: #ffc107;
$facebook-color: #1877f2;
$spotify-color: #1ed760;
$dark-1-color: #191919;
$dark-2-color: #000000;
$dark-3-color: #121212;
$dark-4-color: #4d4d4d;
$white-1-color: #ffffff;
$gray-1-color: #d9dadc;
$gray-2-color: #6a6a6a;
$gray-3-color: #a7a7a7;
$gray-4-color: #b3b3b3;
$gray-5-color: #232323;

// Font
$font-family-main: "Circular Light", sans-serif;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xlarge: 22px;
$font-size-x2large: 24px;
$font-size-h1: $font-size-base * 2.5;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base * 1;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;

// Breakpoints
$breakpoint-xs: 0; // Extra small screens
$breakpoint-sm: 576px; // Small screens
$breakpoint-md: 768px; // Medium screens
$breakpoint-lg: 992px; // Large screens
$breakpoint-xl: 1200px; // Extra large screens
$breakpoint-xxl: 1400px; // Extra extra large screens

// Shadows
$shadow-small: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$shadow-large: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
