.input {
  appearance: none;
  background-image: none;
  border: 0px;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  inline-size: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  border-radius: 4px;
  padding-inline: 14px;
  padding-block-start: 8px;
  padding-block-end: 8px;
  min-block-size: 48px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  color: #000000;

  &::placeholder {
    font-family: "Circular Book", sans-serif;
  }

  &__error-message {
    @extend .mt-1;
    color: $danger-color;
    font-family: "Circular Book", sans-serif;
    font-size: $font-size-small;
  }
}
