.icon-navigation {
  $circle: 34px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $circle;
  height: $circle;
  border-radius: 50%;
  background-color: var(--dark-2-color);
}
