.app__main-footer {
  margin-bottom: 24px;
  padding-bottom: 48px;

  &--links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 38px;
    border-bottom: 1px solid var(--dark-4-color);
  }
}
