.app {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px;
  height: 100vh;
  background-color: var(--dark-2-color);
  color: var(--white-1-color);

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.playtime {
  content: "";
  position: relative;
  width: 480px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--dark-4-color);
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 480px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--white-1-color);
    left: -80px;
  }
}

.volume {
  @extend .playtime;
  width: 93px;
}
